.single-article {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin: 4rem 0 1rem;
  }

  .top-image {
    margin-bottom: 3rem;

    .credit {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
}

.chinese_italic {
  font-family: 'STFangsong', 'FangSong', 'Merriweather';
}

.landscape_image {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  max-width: 600px;
}

.book_image {
  max-width: 500px;
}